<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>JM Gass AppjmEDIT</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="getting-started">

  <h3>Malibu Gas Information</h3>

 <ion-list>
 <!-- User enters current milage -->
  <ion-item>
    <ion-label fixed>Intput milage</ion-label>
    <ion-input [(ngModel)]="currentMilage" type="number"></ion-input>
  </ion-item>
  <div padding>
    <button block (click)="checkGass()">Submit</button>
  </div>
  </ion-list>

  <img src="/img/large_meter_100.jpg" align="left">

  <ion-list inset>
    <p class="datefilled">Date last filled:</p>
    <ion-item>
      <ion-label class="output">MM-DD-YYYY</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
 
  <p>
    <button> Fill Car With Gas</button>
  </p>

  <ion-list inset>
    <p>Miles Per Gallon:</p>
    <ion-item>
      <ion-label class="output">MPG</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>

    <p class="output">Percent Full: </p>
    <!--<ion-item>
      <ion-label [(ngModel)]="currentMilage" type="number">test</ion-label>  <!--This didn't work-->
    <!-- </ion-item>-->

    <p class="output">??</p>
    <p class="output">%</p>
    <!-- <ion-item>
      <ion-label class="output">100%</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list> -->
<!--   <p>
    <button primary menuToggle>Toggle Menu</button>
  </p>  -->

  
</ion-content>
